.language-quiz-wrapper {
  background: var(--main-color-dark);
  height: 100vh;
  text-align: center;
  color: var(--main-color-light);
}

.language-quiz-text {
  font-size: 3rem;
  padding: 2em;
}

.language-quiz-streak {
  font-size: 1.3rem;
}

.language-quiz-button-wrapper {
  gap: 3em;
  display: flex; 
  transform: translateX(calc(50vw - 50%));
  position: absolute;
  bottom: 5em;
}

@media only screen and (max-width: 600px) {
 .language-quiz-button-wrapper {
   position: relative;
    display: flex;
    flex-direction: column;
  }
}
