.main-screen-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 2em;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/Background.jpg");
  background-position: center;
  background-size: cover;
}

.main-screen-play-wrapper {
  left: 25%;
  right: 50%;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 2em;
}

.main-screen-play-wrapper h1 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--main-color-light);
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
}

.button-close {
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.main-screen-wrapper img {
  width: 800px;
  margin-bottom: 8em;
}

.menu {
  border: none;
  border-radius: 8px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
  padding: 0.7em 1.8em 0.7em 1.8em;
  font-size: 1.8rem;
  position: relative;
  color: white;
  font-weight: 800;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset, 0px 0px 10px 0px #001F43;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#001F43), to(#189FE3));
  background-image: linear-gradient(to bottom, #001F43, #189FE3);
}

.menu:hover {
  transform: translateY(2px);
}

.menu:active {
  transform: translateY(4px);
}
